footer.footer
    .container
        .footer__block.footer__block_main
            .footer__wrapper
                .footer__logo
                    a(href='/')
                        img(src='static/img/general/logo.png' alt='Sportage 24')
                .footer__ip
                    span ИП Казаку В.О.
                .footer__contacts
                    .footer__phone
                        a(href='tel:+78005553535') 8 800 555 35 35
                    .footer__email
                        a(href='mailto:sportage24@yandex.ru') sportage24@yandex.ru
        .footer__block.footer__block_catalog
            .footer__heading
                span Каталог
            .footer__links.links
                ul.links__list
                    li.links__item
                        a(href='#') Одежда и обувь
                    li.links__item
                        a(href='#') Для спорта
                    li.links__item
                        a(href='#') Туризм
                    li.links__item
                        a(href='#') Вело и электротовары
        .footer__block.footer__block_menu
            .footer__heading
                span Навигация
            .footer__links.links
                ul.links__list
                    li.links__item
                        a(href='#') О компании
                    li.links__item
                        a(href='#') Доставка и оплата
                    li.links__item
                        a(href='#') Гарантия
                    li.links__item
                        a(href='#') Контакты
        .footer__block.footer__block_socials
            .footer__heading
                span Социальные сети
            .footer__socials.socials
                ul.socials__list
                    li.socials__item.socials__item_instagram
                        a(href='#')
                    li.socials__item.socials__item_facebook
                        a(href='#')
                    li.socials__item.socials__item_youtube
                        a(href='#')
                    li.socials__item.socials__item_vk
                        a(href='#')
            .footer__link
                a(href='#') Все бренды
