header.header
    .container
        .header__logo
            a(href='#')
                img(src='static/img/general/logo.png' alt='Sportage24')
        .header__menu.menu
            ul.menu__list
                li.menu__item
                    a(href='#') О нас
                li.menu__item
                    a(href='#') Доставка
                li.menu__item
                    a(href='#') Гарантия
                li.menu__item.menu__item_active
                    a(href='#') Блог
                li.menu__item
                    a(href='#') Контакты
        .header__btns.btns
            ul.btns__list
                li.btns__item.btns__item_search
                    a(href='#')
                li.btns__item.btns__item_cart
                    a(href='#')
                li.btns__item.btns__item_burger
                    a(href='#')


