extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index'

block content
	section.section.first(style='background-image: url("static/img/content/index-1.jpg")')
		.container
			.first__top
				a(href='#').first__catalog-btn Каталог товаров
				.first__recall
					.first__phone
						a(href='tel:+78005553535') 8 800 555 35 35
					.first__recall-link
						a(href='#') Перезвоните мне
			.section__text.first__text
				.section__heading.first__heading
					h2 Путешествуй
				.section__subheading.first__subheading
					h3 вместе с нами
	section.section.second(style='background-image: url("static/img/content/index-2.jpg")')
		.container
			.section__text.second__text
				.section__heading.second__heading
					h2 Мечтай
				.section__subheading.second__subheading
					h3 вместе с нами
			.section__btns
				.section__btn
					a(href='#') Товары для туризма
	section.section.third(style='background-image: url("static/img/content/index-3.jpg")')
		.container
			.section__text.third__text
				.section__heading.third__heading
					h2 Наслаждайся
				.section__subheading.third__subheading
					h3 вместе с нами
			.section__btns
				.section__btn
					a(href='#') Продукты для правильного питания
				.section__btn.section__btn_yellow
					a(href='#') Рецепты
	section.section.fourth(style='background-image: url("static/img/content/index-4.jpg")')
		.container
			.section__text.fourth__text
				.section__heading.fourth__heading
					h2 Тренируйся
				.section__subheading.fourth__subheading
					h3 с нами
			.section__btns
				.section__btn
					a(href='#') Тренажеры для дома
	.categories
		.categories__list
			a(href='#').categories__item.category
				.category__img(style='background-image: url("static/img/content/index-cat-1.jpg")')
				.category__name
					span Тренажеры
			a(href='#').categories__item.category
				.category__img(style='background-image: url("static/img/content/index-cat-2.jpg")')
				.category__name
					span Велотовары
			a(href='#').categories__item.category
				.category__img(style='background-image: url("static/img/content/index-cat-3.jpg")')
				.category__name
					span Спорттовары
			a(href='#').categories__item.category
				.category__img(style='background-image: url("static/img/content/index-cat-4.jpg")')
				.category__name
					span Одежда
			a(href='#').categories__item.category
				.category__img(style='background-image: url("static/img/content/index-cat-5.jpg")')
				.category__name
					span Обувь
			a(href='#').categories__item.category
				.category__img(style='background-image: url("static/img/content/index-cat-6.jpg")')
				.category__name
					span Спортивное питание
			a(href='#').categories__item.category
				.category__img(style='background-image: url("static/img/content/index-cat-7.jpg")')
				.category__name
					span Электротовары
	.about
		.about__heading
			h2 Sportage
		.about__subheading
			h3 о нашей компании
		.container
			.about__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
		.about__img



