// ЦВЕТА

$white = #fff
$black = #000

$gray_dark = #272727
$yellow = #fba30e



// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ

$museo100 = 'museo100', 'Arial', 'sans-serif'
$museo300 = 'museo300', 'Arial', 'sans-serif'
$museo500 = 'museo500', 'Arial', 'sans-serif'
$museo700 = 'museo700', 'Arial', 'sans-serif'
$mont = 'Mont Bold', 'sans-serif'
$mainFont = $museo100

// Разрешения

$tablet = 'screen and (max-width: 1199px)'
$mobile = 'screen and (max-width: 767px)'