// ЦВЕТА

$white = #fff
$black = #000

$gray_dark = #272727
$yellow = #fba30e



// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = "museo100", "Arial", 'sans-serif'


// Разрешения

$tablet = "screen and (max-width: 1199px)"
$mobile = "screen and (max-width: 767px)"